body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:80px;
  width:480px;
  height:315px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:315px;
}
#u1 {
  position:absolute;
  left:15px;
  top:150px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:290px;
  top:336px;
  width:60px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u2_img.mouseDown {
}
#u2.mouseDown {
}
#u2_img.disabled {
}
#u2.disabled {
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:354px;
  top:336px;
  width:60px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u4_img.disabled {
}
#u4.disabled {
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:106px;
  top:110px;
  width:289px;
  height:23px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:222px;
  top:186px;
  width:74px;
  height:15px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:207px;
  width:200px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:133px;
  width:480px;
  height:41px;
  font-size:28px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:41px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:151px;
  top:186px;
  width:66px;
  height:19px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
