body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:80px;
  width:1020px;
  height:780px;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:780px;
}
#u1 {
  position:absolute;
  left:15px;
  top:382px;
  width:990px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:220px;
  width:780px;
  height:100px;
  font-family:'Verdana Bold', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:33px;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:100px;
}
#u3 {
  position:absolute;
  left:0px;
  top:30px;
  width:780px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:310px;
  top:290px;
  width:580px;
  height:70px;
  font-family:'Tahoma Regular', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:70px;
}
#u5 {
  position:absolute;
  left:0px;
  top:22px;
  width:580px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:475px;
  top:380px;
  width:250px;
  height:30px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:520px;
  top:516px;
  width:150px;
  height:34px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u7_img.disabled {
}
#u7.disabled {
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:475px;
  top:450px;
  width:250px;
  height:30px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:475px;
  top:360px;
  width:75px;
  height:18px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:475px;
  top:430px;
  width:75px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:475px;
  top:580px;
  visibility:hidden;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:55px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:55px;
}
#u16 {
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
