body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:70px;
  width:2000px;
  height:1000px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1000px;
}
#u1 {
  position:absolute;
  left:15px;
  top:492px;
  width:1970px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:960px;
  height:50px;
  font-family:'Myriad Pro Regular', 'Myriad Pro';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#34475E;
  text-align:right;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
}
#u3 {
  position:absolute;
  left:15px;
  top:17px;
  width:930px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:10px;
  width:370px;
  height:50px;
  font-family:'Myriad Pro Regular', 'Myriad Pro';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#34475E;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:50px;
}
#u5 {
  position:absolute;
  left:0px;
  top:17px;
  width:370px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:90px;
  width:290px;
  height:170px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:170px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:13px;
  top:43px;
  width:426px;
  height:16px;
  font-family:'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:14px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:233px;
  top:270px;
  width:74px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u9_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:76px;
  height:36px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
