body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:80px;
  width:480px;
  height:315px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:315px;
}
#u1 {
  position:absolute;
  left:15px;
  top:150px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:35px;
  width:420px;
  height:40px;
  font-family:'Myriad Pro Regular', 'Myriad Pro';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#34475E;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:40px;
}
#u3 {
  position:absolute;
  left:0px;
  top:12px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:130px;
  width:320px;
  height:165px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:247px;
  top:316px;
  width:74px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u5_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:76px;
  height:36px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u6 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u7 {
  position:absolute;
  left:336px;
  top:316px;
  width:74px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u7_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:76px;
  height:36px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:70px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
